{% extends parent_template %}

# fluentd
{% set fluentd_plugins_append = ['fluent-plugin-grafana-loki'] %}

# keystone
{% block keystone_footer %}
RUN dnf install -y --enablerepo epel \
    https://github.com/OpenIDC/liboauth2/releases/download/v2.0.0/liboauth2-2.0.0-1.el9.x86_64.rpm \
    https://github.com/OpenIDC/liboauth2/releases/download/v2.0.0/liboauth2-apache-2.0.0-1.el9.x86_64.rpm \
    https://github.com/OpenIDC/mod_oauth2/releases/download/v4.0.0/mod_oauth2-4.0.0-1.el9.x86_64.rpm \
    && dnf clean all
{% endblock %}

# neutron
{% set neutron_base_packages_append = ['patch'] %}
{% block neutron_l3_agent_footer %}
ADD additions-archive /
RUN bash -c 'while read patch; do patch -d /var/lib/kolla/venv/lib/python3.9/site-packages -p 1 -i /additions/$patch; done < /additions/series'
{% endblock %}
{% block neutron_bgp_dragent_footer %}
ADD additions-archive /
RUN bash -c 'while read patch; do patch -d /var/lib/kolla/venv/lib/python3.9/site-packages -p 1 -i /additions/$patch; done < /additions/series'
{% endblock %}
